body {
  margin: 0;
  font-family: "Rubik";
  // scroll-behavior: smooth;
  // scroll-snap-type: y proximity;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 7.5vh;
  border-bottom: solid 3px #30f0cd;

  background: #001220;

  h2 a {
    padding: 0 0 0 5vw;
    text-decoration: none;
    color: #30f0cd;
  }

  ul {
    padding: 1vh 5vw 0 0;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 2.5vw;

    li {
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: #30f0cd;

        &:hover {
          transition: 0.35s;
          color: white;
        }
      }
    }
  }
}

// section {
//   scroll-snap-align: center;
  
// }

.landing {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.content {
  text-align: left;
  font-size: 2.75rem;
  color: white;
  position: relative;
  top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  p {
    font-size: 1.5rem;
  }
}

@keyframes bg-slide {
  0% { transform: translateX(0); }
  50% { transform: translateX(-50%); }
  100% { transform: translateX(0);}
}

.wave {
  position: fixed;
  width: 200vw;
  height: 100vh;
  background: url(./images/bottom.svg) repeat-x ;
  animation: bg-slide 25s linear infinite;
}

.green {
  color: #30f0cd;
}

// Mobile Responsive Changes
#home-mobile {
  display: none;
}
.mobile-br {
  display: none;
}

@media screen and (max-width: 510px) {
  #home-mobile {
    display:block;
  }
  #home-desktop {
    display: none;
  }
  .content { 
    margin:0 0 0 10vw;
  }
  .mobile-br {
    display: block;
  }
  .wave {
    width: 600vw;
    animation: bg-slide 12s linear infinite;
  }
}