* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1f1f1f;
    color: white;
    font-family: "Rubik";
    line-height: 1.5;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #1f1f1f;
    color: #30f0cd;
    border-bottom: #30f0cd solid 1px;
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;

}

.navbar ul li {
    margin: 0 5px;
    padding: 15px 25px 15px 25px;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #30f0cd;
}

.navbar ul li a:hover {
    color: white;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

#home h1 {
    font-size: 3.25rem;
    text-align: center;
}

section p{
    font-size: 1.5rem;
}

#skills .greenspan{
    font-size: 1.75rem;
}

#contact ul li {
    font-size: 1.25rem;
}

#contact ul {
    list-style-type: none;
}

#contact ul li a{
    color:#30f0cd;
    text-decoration: none;
}

#contact ul li a:hover{
    color: white;
}

/* Background css */
section#home {
    background: url(../images/wave-top.svg) no-repeat center center/
    cover;
}

section#contact {
    background: url(../images/wave-bottom.svg) no-repeat center center/
    cover;
}


.greenspan {
    color: #30f0cd;
}


#text {
    color: #30f0cd;
}

#single {
    display: inline;
}

#projects a {
    white-space: nowrap;
    text-decoration: none;
    color: #30f0cd;
}

#projects a:hover {
    color: white;
}

/* icon grid skills section */

.skillsrow {
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 50px;
}

/* download resume link */
.resume {
    border: #1f1f1f solid 2px;
    padding: 15px;
    margin: 10px;
    background: #30f0cd;
    border-radius: 10px;
    font-size: 20px;
    color: #1f1f1f;
    text-decoration: none;
}

.resume:hover {
    transition: 0.5s;
    border:#30f0cd solid 2px;
    background: #1f1f1f;
    color:#30f0cd;
}

/* CSS for skills icons */

.skillscol {
    display: none;
}

@media all and (max-width: 850px) {
    .skillsrow {
    display: none;
    }
    .skillscol{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 50px;
    }
    
}

@media all and (max-width: 650px) {
    .navbar{
        display: none;
    }
    hr{
        display: none;
    }
    
    #home h1 {
        font-size: 3.25rem;
        text-align: center;
    }

    section p{
        font-size: 1.75rem;
    }

    #contact ul li {
        font-size: 1.25rem;
    }  
    
}

/* css for project section */

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-unit {
    color:#30f0cd;
    border: 2px solid #30f0cd;
    border-radius: 15px;
    margin: 40px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-unit p{
    font-size: 15px;
}

.projLink{
   height: 52px;
   width: 52px;
   border-radius: 50%;
   color:#1f1f1f;
    background-color: white;
}
.projLink img {
    transform: translate(2px, 2px);
}

.projLink:hover {
    transition: 0.65s;
    background-color: #30f0cd;
}


/* img about me */

.aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.aboutMe img {
    height: 200px;
    width: 200px;
    border:solid 3px #30f0cd;
    border-radius: 50%;
}

/* mobile formatting */

@media (max-width: 650px){
    
    .aboutMe {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }

    .aboutMe p{
        font-size: 1.25rem;
        margin-left: 30px;
        margin-right: 50px;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}