/* black bg: #1f1f1f
* yellow: #30f0cd
*/

body {
    background-color: #1f1f1f;
    color: white;
    font-family: "Rubik";
    
}

h1 {
    margin-left: 50px;
    color: #30f0cd;
}

nav {
    /*border: 1px solid #30f0cd;*/
    padding: 20px;
    background-color: #1f1f1f;
    color: #30f0cd;
    position: sticky;
    position: -webkit-sticky;
    top: 2px;
    float: left;
    margin-left: 20px;
}


a:link {
    color: #30f0cd;
    text-decoration: none;
}
a:visited {
    color: #30f0cd;
    text-decoration: none;
}
a:hover {
    color: #1f1f1f;
    background-color:#30f0cd;
    text-decoration: none;
}
a:active {
    color: #30f0cd;
    text-decoration: none;
}

 
hr {
    border-color: #30f0cd;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

/* text block css */
.set {
    padding: 30px;
}

/* single-page css */
.text {
    padding-left: 20px;
    padding-bottom: 20px;
    margin: auto;
    width: 50%;
}

.head{
    color:#30f0cd;
}


/* home page animation */
#hide1{
    margin-left: 50px;
}
#hide2 {
    margin-left: 50px;
}
